.sadrzaj{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}
.addNew{
    padding: 9px 11px;
    background-color: #4e44d0;
    color: white;
    border-radius: 10px;
    border: 1px solid transparent;
}
.addNew:hover{
    background-color: white;
    border: 1px solid #4e44d0;
    color: #4e44d0;
    transition: all 0.3s;
}