.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9e8e8;
}
.loginForm{
    display: flex;
    flex-direction: column;
    gap:15px;
    border: 2px solid #4e44d0;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 9px 19px #4e44d0;
}
.prijava{
    width: 50%;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #4e44d0;
    color:white;
    padding: 9px 11px;
}
input{
    border: 1px solid #4e44d0;
    padding:8px;
    border-radius: 10px;
 }
 .prijava:hover{
    background-color: white;
    border:1px solid #4e44d0;
    color: #4e44d0;
    transition: all 0.5s;
    cursor: pointer;
 }
 